@model Secure1.Models.BusinessViewModels.UploadViewModel
@{
	ViewData["Title"] = "Upload";
}

<h2>@ViewData["Title"]</h2>
<h2>Upload files to server</h2>
<div class="row">
	<div class="col-md-4">
		<form  asp-controller="Upload" asp-action="UploadFile" method="post" enctype="multipart/form-data" asp-route-returnUrl="@ViewData["ReturnUrl"]">
			<h4>Upload a file</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="DisplayName"></label>
				<input asp-for="DisplayName" class="form-control" />
				<span asp-validation-for="DisplayName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Desc"></label>
				<input asp-for="Desc" class="form-control" />
				<span asp-validation-for="Desc" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Comment"></label>
				<input asp-for="Comment" class="form-control" />
				<span asp-validation-for="Comment" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FilePath"></label>
				<input asp-for="FilePath" class="form-control" type="file" multiple />
				<span asp-validation-for="FilePath" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-default">Upload File(s)</button>
		</form>
		<h4>@ViewData["Message"]</h4>
	</div>
</div>

<h2>Upload files into database</h2>
<div class="row">
	<div class="col-md-4">
		<form asp-controller="Upload" asp-action="UploadFileByte" method="post" enctype="multipart/form-data" asp-route-returnUrl="@ViewData["ReturnUrl"]">
			<h4>Upload a file</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="DisplayName"></label>
				<input asp-for="DisplayName" class="form-control" />
				<span asp-validation-for="DisplayName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Desc"></label>
				<input asp-for="Desc" class="form-control" />
				<span asp-validation-for="Desc" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Comment"></label>
				<input asp-for="Comment" class="form-control" />
				<span asp-validation-for="Comment" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FilePath"></label>
				<input asp-for="FilePath" class="form-control" type="file" multiple />
				<span asp-validation-for="FilePath" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-default">Upload File(s)</button>
		</form>
		<h4>@ViewData["Message"]</h4>
	</div>
</div>

<div>
	
	<table>
		<tbody>
			@foreach (var item in Model.ListOfVersions) {
			<tr>
				<tb>
					@Html.DisplayFor(modelItem => @item.Id)
				</tb>
				<tb>
					@Html.DisplayFor(modelItem => @item.Name)
				</tb>
				<tb>
					@Html.DisplayFor(modelItem => item.FileType)
				</tb>
				<tb>
					@Html.DisplayFor(modelItem => item.CreateDate)
				</tb>
				<tb>
					<a asp-controller="Upload" asp-action="DownloadFileByte" asp-route-id="@item.Id">@item.Name</a>
				</tb>
			</tr>
			}
		</tbody>
	</table>
</div>
@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
